// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#background-main {
  position: absolute;
  // opacity: 0.5;
  height: 70vh;
  width: 100%;
  // margin-left: 20px;
  // margin-right: 20px;
  background-image: url('hand-gas-pump.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  // display: flex;
  display: block;
      background: rgba(0,0,0,0.48);
      -pie-background: rgba(0,0,0,0.48);
      border-style: none;
      behavior: url(/PIE.htc);
      border-radius: 5px;
      left: 200px;
      top: 223px;
      z-index: 13;
      width: 703px;
      height: 200px;
      // position: absolute;
  color: whitesmoke;
}

.overlay-text {

}
